.container {
    display: -webkit-flex;
    display: flex;
	display: inline-flex;
	flex-flow: row nowrap;
	/* flex-wrap: nowrap; 有可能超出溢出 */
	justify-content: space-between;
	width: 300px;
	height: 100vh;
	background-color: aqua;
}

.cell {
	width: 40px;
	height: 40px;
	margin: 2px;
	flex-shrink: 0.7;	
	border: 5px solid rgb(11, 156, 96);
	background-color: purple;
  }