@keyframes zhenghui {
  from {
    left: 0px;
  }

  to {
    left: 1000px;
  }
}
#ball {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: orange;
  animation-name: zhenghui;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#group {
  position: absolute;
  top: 120px;
}