/* form+div {
  width: 100%;
  background-color: red;
  height: 20px;
}

#firstPara~p{
  color: orange;
  font-size: 30px;
} */


/* [id$="aragraph"] {
  color: blue;
  font-size: 30px;
} */

[id|="fo"] {
  color: orange;
  font-size: 30px;
}
/* }注意这里是 要么是fo 要么是 fo-xxxx */

[id|="fo"] {
  color: orange;
  font-size: 30px;
}

/* 
一般^表示开头$表示结尾 */