#textInput {
  width: 200px;
  height: 40px;
}

#box {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.my-element *:focus {
  background: yellow !important;
  color: #000;
  outline: 3px solid red;
}
  
/* 
.my-element:focus-within {
  outline: 3px solid #333;
} */

.my-element {
  border: 1px solid #777;
  max-width: 500px;
  margin: auto;
  background-color: #fefefe;
  padding: 20px;
}

input[type="email"] {
  margin-top: .5em;
  font-size: inherit;
  border: 1px solid #555;
  width: 100%;
}

body {
  background: #ccc;
  font-family: arial;
  line-height:2;
}

/* #btn {

} */