#textInput {
  width: 200px;
  height: 40px;
}

#box {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

* :focus {
  outline: 3px solid red;
  outline-offset: 20px;
  /* outline类似于border，但是只有一个边框，offset则像padding */
}
/* #btn {

} */