table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid;
}

caption {
  text-align: left;
  padding-bottom: .25em;
  font-size: 1.5em;
}

thead th {
  background: #333;
  color: #fff;
}

td, th {
  padding: .5em;
}

td:not(:last-child), 
th:not(:last-child) {
  border-right: 1px solid;
}

tr:not(:last-child) td,
tr:not(:last-child) th {
  border-bottom: 1px solid;
}

tbody tr:first-child td {
  border-top: 1px solid;
} 